click==6.6
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11


# Python
psycopg2==2.6.2
ipython==5.1.0
enum34==1.1.6

# Flask
Flask==0.11.1

# Flask-Extensions
Flask-Script==2.0.5
Flask-Migrate==2.0.0
Flask-SQLAlchemy==2.1
